[submodule "__handlers__"]
	path = __handlers__
	url = git@github.com:clugh/frida-coc-handlers.git
[submodule "tweetnacl-usable"]
	path = tweetnacl-usable
	url = https://github.com/ultramancool/tweetnacl-usable.git
